/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixel+Emulator&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* Aplicar fontes */
body {
    font-family: 'Press Start 2P', cursive;
}

body {
    font-family: 'VT323', monospace;
}

/* body {
    font-family: 'Pixel Emulator', sans-serif;
}

body {
    font-family: 'Orbitron', sans-serif;
}

body {
    font-family: 'Audiowide', cursive;
}

body {
    font-family: 'Bungee Inline', cursive;
} */